.section__darkmode {
	max-width: 800px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;
	padding-block: 100px;
	&.dark {
		background-color: rgb(45, 45, 45);
		color: white;
	}
	&.light {
		background-color: white;
		color: rgb(45, 45, 45);
	}
	h2 {
		font-size: 1rem;
		padding-block-end: 10px;
	}
	p {
		font-size: 4rem;
		font-weight: 600;
	}
	button {
		margin-top: 30px;
		padding: 10px 15px;
		border-radius: 10px;
		background-color: white;
		cursor: pointer;
		&.dark {
			background-color: white;
			color: rgb(45, 45, 45);
		}
		&.light {
			background-color: rgb(45, 45, 45);
			color: white;
		}
	}
}
